# =========================================
# Python / Virtual Environments
# =========================================
__pycache__/
*.pyc
venv/
.venv/
env/
.env

# =========================================
# IDE / System / Git
# =========================================
.vscode/
.github/
.git/
.DS_Store

# =========================================
# Project-specific data and outputs
# =========================================
data/

# =========================================
# Dependencies (installed in the container)
# =========================================
/node_modules