streamlit
langchain
langchain-openai
langgraph
transformers
torch
python-dotenv
pillow
pytesseract
pymupdf4llm
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
matplotlib
uvicorn
mcp[cli]
